* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.lampa{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
}

.active {
    background-color: greenyellow;
}

#vol {
    margin: 20px;
}